!!!
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="description", content="Rdio based mass user-created playlist")
    meta(name="keywords", content="knockout, knockout radio, node radio, node rdio, not turntable")
    meta(property="og:title", content="Knockout Radio")
    meta(property="og:type", content="media")
    //- meta(property="og:image", content="")
    meta(property="og:url", content="http://knockout.crunchtune.com/")
    meta(property="og:site_name", content="Knockout Radio")
    meta(property="fb:app_id", content="142525322505020")
    meta(property="fb:admins", content="173348162721832, 100001246590908")

    link(rel='stylesheet', href='/ui/shared/stylesheets/common.css')
    link(rel='stylesheet', href='/ui/shared/stylesheets/layout.css')
    link(rel='stylesheet', href='/ui/shared/stylesheets/typography.css')    
    - stylesheets.forEach(function(s) {
      link(rel="stylesheet", href=s)
    - })

  body
    div#container.FLC
      header#header
        nav.primary.Inline
          dl.UTL.Heading4.Chunk
            dt.Heading1 Knockout Radio
            - if(typeof room === 'undefined')
              dd.FLC Welcome to Knockout Radio
            - else
              dd.FLC Welcome to #{room.name}
        nav.primary.Inline
          ul.Plain.UTL.Chunk
            - if(!isHomepage)
              li.authed
                - if(isGuest)
                  a(href="/oauth/login") Login to fully experience this shit.
                - else
                  a(href="/logout") Logout this shit
        nav.social
          ul.Plain.UTL
            li <iframe src="http://nodeknockout.com/iframe/demand-node" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
      article#content.FLC!= body
    footer
      ul#crowd.Plain.UTL
        li.deep
        li.shallow
    div#fb-root

    script(type="text/javascript", src="/ui/shared/scripts/external/ender.min.js")
    script(type="text/javascript", src="/ui/shared/scripts/plugins/fidel.js")
    script(type="text/javascript", src="/ui/shared/scripts/plugins/plax.js")
    script(type="text/javascript", src="/ui/shared/scripts/plax.js")
    script(type="text/javascript", src="/ui/shared/scripts/utils.js")
    script(src="http://connect.facebook.net/en_US/all.js#appId=142525322505020&amp;xfbml=1")
    - scripts.forEach(function(s) {
      script(src=s)
    - })
    script(type="text/javascript", src="/ui/shared/scripts/global.js")