- scripts.push("https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js");
- scripts.push("/socket.io/socket.io.js")
- scripts.push("/ui/shared/scripts/external/reqwest.js")
- scripts.push("/ui/shared/scripts/external/str.js")
- scripts.push("/ui/shared/scripts/services/rdio.js")
- scripts.push("/ui/shared/scripts/controllers/player.js")
- scripts.push("/ui/shared/scripts/controllers/chat.js")
- scripts.push("/ui/shared/scripts/controllers/userlist.js")
- scripts.push("/ui/shared/scripts/controllers/room.js")
- scripts.push("/ui/shared/scripts/controllers/search.js")
- scripts.push("/ui/shared/scripts/pages/room.js")

div#section
  div#rdioPlayer
  div#listener
    p To become the DJ, pick a song that you think is awesome-sause and then place a bid.  Once all bids have been made, the highest bidder becomes DJ.  If the song you pick plays all the way through, then you receive points.  If listeners vote it down, you lose points and you will step down as DJ.
    div#search.Module
      input(data-element='searchBox', type='text', placeholder="Search for a Song")
      ul#results.UTL(data-element='resultsNode')
    div(data-element='selectedTrackNode')
  div#dj

div#aside
  div#bidder.Module
    include includes/bidder

  div#nowPlaying.Module

  div#selectedTrack.Module

  div#userlist.Module
    include includes/userlist

  div#chat.Module
    include includes/chat

script#tmpDJ(type="text/template")
  include includes/dj
script#tmpNowPlaying(type="text/template")
  include includes/nowplaying
script#tmpSelectedTrack(type="text/template")
  include includes/selectedtrack

script
  window.playbackToken = "#{playbackToken}";
  window.firstName = "#{user.firstName}";
  window.userId = "#{user.key}";
  window.roomName = "#{room.name}";
  window.roomSlug = "#{room.slug}";
