- scripts.push("https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js");
- scripts.push("/socket.io/socket.io.js")
- scripts.push("/ui/shared/scripts/external/reqwest.js")
- scripts.push("/ui/shared/scripts/external/str.js")
- scripts.push("/ui/shared/scripts/services/rdio.js")
- scripts.push("/ui/shared/scripts/controllers/player.js")
- scripts.push("/ui/shared/scripts/controllers/chat.js")
- scripts.push("/ui/shared/scripts/controllers/userlist.js")
- scripts.push("/ui/shared/scripts/controllers/room.js")
- scripts.push("/ui/shared/scripts/controllers/search.js")
- scripts.push("/ui/shared/scripts/pages/room.js")

div#section
  div#rdioPlayer
  div#dj

div#aside
  div#bidder.Module
    include includes/bidder

  div#search.Module
    input(type='text', placeholder="Add a song to your playlist")
    ul#results.UTL

  div#nowPlaying.Module

  div#userlist.Module
    include includes/userlist

  div#chat.Module
    include includes/chat

script#tmpDJ(type="text/template")
  include includes/dj
script#tmpNowPlaying(type="text/template")
  include includes/nowplaying

script
  window.playbackToken = "#{playbackToken}";
  window.firstName = "#{user.firstName}";
  window.user_id = "#{user.key}";
  window.roomName = '#{room.name}';
  window.roomSlug = '#{room.slug}';
